body {
  margin: 0;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

.center-inline {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  align-items: center;
  margin: 0;
}
