:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --card_width: 236px;
  --row_increment: 10px;
  --card_border_radius: 16px;
}

body {
  margin: 0;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.center-inline {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  align-items: center;
  margin: 0;
}
